
.creates {
    max-width: 700px;
    margin: 50px auto;
}

.creates label {
    text-align: left;
    margin-bottom: 5px;
    margin-top: 15px;
    display: block;
}

.creates h2 {
    font-size: 20px;
    color: #D82148;
    margin-bottom: 30px;
}

.creates input,
.creates textarea,
.creates select {
    width: 100px;

    padding: 6px 10px;
    margin: 1px 0;
}

.creates button {
    background: #F0A500;
    margin-top: 20px;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}